.outerSearchbar{
    position: relative;
    min-height: 4rem;
    margin: 0;
    background-color: rgb(30,30,30);
    width: calc(25% + 4rem);
    margin-left:2.5rem;

}



.inputSearchUsers{
    width: 100%;
    padding: 1.5rem 1.25rem;
    margin-right: 4rem;
    background-color: rgb(30,30,30);
    outline: none;
    border: 0;
    color:white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

}


.innerSearchbarUsers{
    z-index: 2;
    position: absolute;
    right:0%;
    width:100%;
}
.innerSearchbarUsers  > a{
    text-decoration: none;
    transition: 0.5s all ease;
    cursor:pointer;
    display: flex;
    padding: 0;
    height: 2.5rem;
    border: 1px solid rgba(255,255,255,0.8);
    border-bottom: 0px;
    background-color: rgb(45,45,45);
    color:white;
    justify-content:left;
}
.innerSearchbarUsers > a:last-of-type {
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
.innerSearchbarUsers >  a:hover{
    border: 1px solid rgb(210,210,210);
    border-bottom: 0px;
    background-color: rgb(210,210,210);
    color:rgb(45,45,45);
}
.innerSearchbarUsers > a:last-of-type:hover {
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
.innerSearchbarUsers > a > div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;
    margin: 0 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (max-width: 1160px) {

    .outerSearchbar{
        margin:0;
    }

    .outerSearchbar::before{
        border:0;
    }

}