.form-wrapper{
    flex-grow: 1;
    flex-direction: column;
    margin: 0;
    background: url('../../images/form-background.jpg');
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper form{
    padding: 1.5rem 0;
    width:35%;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
}
.form-wrapper form h1,.form-wrapper form h2,.form-wrapper form h4{
    color:rgb(30,30,30);
    margin: 1.5rem 0;
}
.form-wrapper form h1{
    margin-top:0;
}
.form-wrapper form p{
    position: relative;
}
.form-wrapper form input{
    width: 40%;
    margin: 0.5rem 0;
    padding: 0.8rem 1rem; 
    background-color: rgba(50,50,50,0.9);
    outline: none;
    border: 0;
    color:white;
}
.form-wrapper form input:focus{
    background-color: rgba(30,30,30);
}
.form-wrapper form input[type="submit"]{
    cursor:pointer;
}

.form-error-message{
    color:rgb(165, 30, 30);
}
.form-success-message{
    color:rgb(30, 165, 30)
}
.oauth-image{
    margin: 0.5rem 0;
}
.is-email{
    display: none;
}
.is-email-img{
    cursor: pointer;
    transition: 1s transform ease;
    top:22.5%;
    height: 60%;
    position: absolute;
    color:white;
}
.is-email:checked + label .is-email-img{
    transform: rotate(360deg);
}

@media only screen and (max-width: 1280px) {
    .form-wrapper form{
        width:60%;
    }
}
@media only screen and (max-width: 1024px) {
    .form-wrapper form{
        width:75%;
    }
    .form-wrapper form input{
        width:80%;
    }
}